@model IEnumerable<MVCMusicStoreApplication.Models.Genre>

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<div>
    <br />
    <h4>Browse by Genre</h4>
    <hr />
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "Index", new { id = item.GenreId })</li>
        }
    </ul>
</div>